{% extends "base.html"%} {% block head_content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}" />
<title>@{{ request.user.username }} | feed</title>
{% endblock %} {% block container %}
<section class="feed">
  {% for post in posts %}
  <section class="feed-container">
    <a href="{% url 'posts:detail' post.id %}">
      <div class="header">
        <h2 class="title">{{ post.title }}</h2>
        <p>{{ post.publicated_at}}</p>
      </div>
      <ul class="additional-data">
        <li class="additional-data__element">Lenguage: {{ post.language }}</li>
        <li class="additional-data__element">Categoria: {{ post.category }}</li>
      </ul>
      <ul class="tags">
        {% for tag in post.tags %}
        <li class="tags__element">{{ tag }}</li>
        {% endfor %}
      </ul>
    </a>
  </section>
  {% endfor %}
</section>
{% endblock%}
