{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <link rel="stylesheet" type="text/css"  href=" {% static 'css/forms.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/manage-tags.css' %} ">
{% endblock %}
{% block scripts %}
    <script src=" {% static 'js/manage-tags.js' %} "></script>        
{% endblock %}

{% block container %}
    <article class="form-container-new-post form-container">
        <form action=" {% url 'posts:new_post' %}" method="POST" class="form-new-post form">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="field-error">
                    <p> {{ error }} </p>
                </div>
            {% endfor %}
            
            <label for="title" class="field-new-post field
                {% if form.title.errors %} 
                    field-error
                {% endif %} ">
                <span class="field-new-post__element">Titulo</span>
                <input type="text" id="title" class="field-new-post__element" placeholder="El titulo de tu post" name="title"
                {% if form.errors %}
                    value="{{ form.title.value }}" 
                {% endif %}>
                <p>
                    {% for error  in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </label>

            <label for="language" class="field-new-post field
            {% if form.language.errors %}
                field-error
            {% endif %} ">
                <span class="field-new-post__element">
                    Idioma
                </span>
                <input id="language" class="field-new-post__element" placeholder="Idioma del post" name="language" list="language-options"
                {% if form.errors %}
                    value="{{ form.language.value }}"
                {% endif %} >
                <datalist id="language-options">
                    {% for language in languages %}
                        <option value="{{ language }}"></option>
                    {% endfor %}
                </datalist>
                <p>
                    {% for error in form.language.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </label>

            <label for="category" class="field-new-post field
            {% if form.categories.errors %} 
               field-error
            {% endif %} ">
                <span class="field-new-post__element">
                    Categoria
                </span>
                <input id="category" class="field-new-post__element" placeholder="Categoria del post" name="category" list="categories-options"
                {% if form.errors %} 
                    value="{{ form.category.value }}"
                {% endif %} >
                <datalist id="categories-options">
                    {% for category in categories %}
                        <option value="{{ category }}"></option>
                    {% endfor %}
                </datalist>
                <p>
                    {% for error in form.category.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </label>

            <label for="tags-input" class="field-new-post field
            {% if form.tags.errors %}
                field-error
            {% endif %} ">
                <span class="field-new-post__element">Tags</span>
                <input id="tags-input" class="field-new-post__element" placeholder="Tags del post" list="tags-options" onkeydown="return event.key != 'Enter';">
                <datalist id="tags-options">
                    {% for tag in tags %}
                        <option value="{{ tag }}"></option>
                    {% endfor %}
                </datalist>
                <p>
                    {% for error in form.tags.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                <ul id="list-tags" class="tag-list">

                </ul>
                <input type="hidden" id="tags" name="tags">
            </label>

            <label for="content" class="field-new-post field
            {% if form.content.errors %}
                field-error
            {% endif %}">
                <span class="field-new-post__element">
                    Contenido
                </span>
                
                <textarea id="content"  class="field-new-post__element" placeholder="Escribe tus ideas" name="content" rows="10" >
                    
                </textarea>
                <p>
                    {% for error in form.content.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </label>

            <label for="images" class="field-new-post field
            {% if form.img.errors %}
                field-error
            {% endif %}">
                <span class="field-new-post__element">
                    Images
                </span>
                <input type="file" class="field-new-post__element" name="img" multiple
                {% if form.errors %} 
                    value="{{ form.img.value }}"
                {% endif %} >
                <p>
                    {% for error in form.img.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </label>
            
            <div class="field-new-post btn-form-new-post-container btn-form-container">
                <input type="submit" class="btn-form-new-post-container__element btn-form-container__element">
            </div>

        </form>
    </article>
{% endblock %}