{% load static %}
<nav class="nav">
    <ul class="nav-container">
        <li class="nav-container__element">
            M
        </li>
        <li class="nav-container__element"></li>
        <li class="nav-container__element">
            <a href=" {% url 'posts:feed' %} ">Posts</a>
        </li>
        <li class="nav-container__element">
            <a href="">Acerca</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-container__element">
            <a href=" {% url 'users:logout' %}"> Log out</a>
        </li>
        {% else %}
        <li class="nav-container__element">
            <a href=" {% url 'users:login' %} ">Sign in</a>
        </li>
        {% endif %}
    </ul>
</nav>