{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
<nav class="nav">
    <ul class="nav-container">
        <li class="nav-container__element">
            M
        </li>
        <li class="nav-container__element"></li>
        <li class="nav-container__element">
            Sign in 
        </li>
        <li class="nav-container__element">
            Posts
        </li>
        <li class="nav-container__element">
            Acerca
        </li>
    </ul>
</nav>