{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block container  %}
<!-- <article class="logo">
    <h2>M</h1>
</article> -->
<article class="form-login-container">
    <form class="form-login" action="{% url 'users:login' %}">
        {% csrf_token %}

        <label for="username" class="field-login">
            <span class="field-login__element">Nombre de usuario:</span>
            <input id="username" class="field__element" type="text" placeholder="Username" name="username">
        </label>

        <label for="password" class="field-login">
            <span class="field-login__element">Contraseña</span>
            <input id="password" class="field__element" type="password" placeholder="Password" name="password">
        </label>

        <div class="btn-login-container">
            <button class="btn-login-container__element">Registrarse</button>
            <button class="btn-login-container__element" type="submit">Enviar</button>
        </div>


    </form>
</article>
{% endblock %}