{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block container  %}
<!-- <article class="logo">
    <h2>M</h1>
</article> -->
{% if form.errors %}
    <p>Something went wrong {{ form.errors }} </p>
{% endif %}

<article class="form-container form-login-container">
    <form action="{% url 'users:login' %}" method="POST" class="form form-login">
        {% csrf_token %}

        <label for="username" class="field field-login">
            <span class="field-login__element">Nombre de usuario:</span>
            <input type="text" id="username" class="field-login__element" placeholder="Username" name="username">
        </label>

        <label for="password" class="field field-login">
            <span class="field-login__element">Contraseña</span>
            <input type="password" id="password" class="field-login__element" placeholder="Password" name="password">
        </label>

        <div class="btn-form-container btn-login-container">
            <button class="btn-form-container__element btn-login-container__element">Registrarse</button>
            <button type="submit" class="btn-form-container__element btn-login-container__element">Enviar</button>
        </div>


    </form>
</article>
{% endblock %}