{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block container %}

<article class="form-container form-signup-container">
    {% if forms.errors %}
        <p> {{ forms.errors }} </p>
    {% endif %}
    <form action=" {% url 'users:signup' %} " method="POST" class="form-signup form">
        {% csrf_token %}

        <label for="username" class="field field-signup">
            <span class=" field-signup__element">Username</span>
            <input type="text" id="username" class="field-signup__element" name="username" placeholder="Username">
        </label>

        <label for="email" class="field field-signup">
            <span class="field-signup__element">Email</span>
            <input type="email" id="email" class="field-signup__element" name="email" placeholder="email" >
        </label>

        <label for="first_name" class="field field-signup">
            <span class="fiel-signup__element">Nombre(s)</span>
            <input type="text" id="first_name"  class="field-signup__element" name="first_name" placeholder="Juan">
        </label>

        <label for="last_name" class="field field-signup">
            <span class="fiel-signup__element">Apellido(s)</span>
            <input type="text" id="last_name"  class="field-signup__element" name="last_name" placeholder="Peréz">
        </label>

        <label for="password" class="field field-signuo">
            <span class=" field-signup__element">Contraseña</span>
            <input type="password" id="password" class="field-signup__element" name="password" placeholder="password">
        </label>

        <label for="password_confirmation" class="field field-signup">
            <span class="field-signup__element">Confirma tu contraseña</span>
            <input type="password" id="password_confirmation" class="field-signup__element" name="password_confirmation" placeholder="password">
        </label>

        <div class="btn-form-container btn-signup-container">
            <button type="submit" class="btn-form-container__element btn-signup-container__element">Enviar</button>
        </div>

    </form>
</article>

{% endblock %}